{% extends 'layouts/layout.html' %}

{% block content %}

    <fieldset class="pt-3 register-form-fieldset">
        <form method="POST" action="/register" class="register-form">
            {{ form.hidden_tag() }}
            <legend class="fs-5 register-form-legend">
                <small>
                    <ul>
                        {{ form.username.label(class="form-text") }}
                        {{ form.username(class="form-control form-control mt-1") }}
                    </ul>

                    <ul>
                        {{ form.email.label(class="form-text") }}
                        {{ form.email(class="form-control form-control mt-1") }}
                    </ul>
                    
                    <ul>
                        {{ form.password.label(class="form-text") }}
                        {{ form.password(class="form-control form-control mt-1") }}
                    </ul>
                    
                    <ul class="mb-0">
                        <small class="text-muted mb-0">Already have an account? <a href="{{ url_for('login') }}">Login</a> </small>
                    </ul>

                    <ul>
                        {{ form.submit(class="btn btn-outline-info bg-white") }}
                    </ul>
                </small>
            </legend>
        </form>
    </fieldset>

{% endblock %}
